.submenu {
  margin-left: 2em;
}

.navbar {
  margin-top: 5px;
}

.navbar-brand {
  color: black;
  padding-left: 100px;
}


.navitembackground:hover {
  background-color: lightgrey;
  border-radius: 10%;
}

@media (min-width: 992px) {
  #navbarToggler {
    display: none !important;
  }
}



.content1-text {
  padding-top: 5%;
}

.container-2, .container-3,.container-4{
  padding-top: 5%;
  padding-bottom: 5%;
}


.container-5 {
  padding-top: 2%;
  padding-bottom: 5%;
}


.card-text1 {
  padding-top: 10%;
  padding-bottom: 4%;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 992px) {
  .card-text1 {
    text-align: center;
  }
}

.category-nav {
  padding-top: 2%;
  padding-bottom: 4%;
}



.card-text {
  padding:10%;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

* {
  text-decoration: none;
}


.dropdown-toggle::after {
  content: none;
}

